<div class=" my-1">
    <p>ordenar de forma :</p>
<button type="button" class="btn btn-outline-primary">Asc</button>
<button type="button" class="btn btn-outline-primary">Desc</button>
</div>
<div class="row row-cols-1">
    <a href="" class="col mb-4">
         <div class="card  publicacionesCard" style="col">
            <div class="row no-gutters">
                <div class="col-sm-3">
                    <img class="card-img" src="https://xtb.scdn5.secure.raxcdn.com/tal/0102/21/62e31bb3e94987165e2812f3e68360a5e0b6ed55.jpeg" alt="Suresh Dasari Card" style="height: 100px; object-fit: cover">
                </div>
                <div class="col-sm-8">
                    <div class="card-body">
                        <h5 class="card-title"> Ripple ha tenido una semana alcista, acumulando avances del 0.5% en las últimas 24 horas y un 20% en la última semana</h5>
                        <p class="card-text">Fecha : 04-04-2023</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
      <a href="" class="col mb-4">
         <div class="card  publicacionesCard" style="col">
            <div class="row no-gutters">
                <div class="col-sm-3">
                    <img class="card-img" src="https://bitcoin.es/wp-content/uploads/2021/07/Polygon.png" alt="Suresh Dasari Card" style="height: 100px; object-fit: cover">
                </div>
                <div class="col-sm-8">
                    <div class="card-body">
                        <h5 class="card-title">Polygon anuncia nuevo servicio de identificación Web3 basado en pruebas de conocimiento</h5>
                        <p class="card-text">Fecha : 04-04-2023</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
          <a href="" class="col mb-4">
         <div class="card  publicacionesCard" style="col">
            <div class="row no-gutters">
                <div class="col-sm-3">
                    <img class="card-img" src="https://public.bnbstatic.com/static/academy/uploads/b1773fc722a54746b2000cc38b855970.png" alt="Suresh Dasari Card" style="height: 100px; object-fit: cover">
                </div>
                <div class="col-sm-8">
                    <div class="card-body">
                        <h5 class="card-title">Decentraland dominó el espacio social durante el fin de semana. El precio de MANA permanece en la región bajista en medio de posibilidades de salir de la zona.</h5>
                        <p class="card-text">Suresh Dasari is a founder and technical lead developer in tutlane.</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>